<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{MM/dd HH:mm:ss} [%thread] [%-5p] (%F:%L\) [%M] %m%n</pattern>
		</encoder>
	</appender>
	
	<logger name="jdbc" additivity="false" level="OFF"/>
    <logger name="jdbc.sqltiming" additivity="false" level="OFF"/>
    <logger name="jdbc.audit" additivity="false" level="OFF"/>
    <logger name="jdbc.resultset" additivity="false" level="OFF"/>
    <logger name="jdbc.resultsettable" additivity="false" level="OFF"/>
    <logger name="jdbc.connection" additivity="false" level="OFF"/>
    
    <springProfile name="dev,alpha,beta,release">
    	<appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<File>/home1/irteam/logs/tomcat/mooc.api.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>/home1/irteam/logs/tomcat/mooc.api.%d{yyyy-MM-dd}.log</FileNamePattern>
			</rollingPolicy>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>%d{MM/dd HH:mm:ss} [%t] [%-5p] (%F:%L\) [%M] %m%n</pattern>
			</encoder>
		</appender>
	
    	<logger name="jdbc.sqlonly" additivity="false">
			<level value="INFO" />
			<appender-ref ref="FileAppender"/>
		</logger>
	
		<root level="INFO">
			<appender-ref ref="FileAppender"/>
		</root>
    </springProfile>
    
    <!-- local 환경 -->
    <springProfile name="!dev,!alpha,!beta,!release">
		<logger name="jdbc.sqlonly" additivity="false">
			<level value="INFO" />
			<appender-ref ref="ConsoleAppender"/>
		</logger>
	
		<root level="DEBUG">
			<appender-ref ref="ConsoleAppender"/>
		</root>
    </springProfile>
</configuration>