<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{MM/dd HH:mm:ss} [%thread] [%-5p] (%F:%L\) [%M] %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- MyBatis의 Mapper.xml에 선언된 namespace명을 넣어주면 해당 쿼리가 로그에 남는다. -->
    <!-- ex> namespase가 "org.next.mooc.repository.MainRepository" 인 경우 org.next.mooc.repository만 넣어주어도 됨 -->
    <logger name="org.next.mooc.main.repository" level="DEBUG"></logger>
	<logger name="org.springframework.http.client.support" level="DEBUG" />
    
    <!-- 서버 환경 -->
    <springProfile name="dev,alpha,beta,release">
    	<appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<File>/home1/irteam/logs/tomcat/mooc.api.log</File>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>/home1/irteam/logs/tomcat/mooc.api.%d{yyyy-MM-dd}.log</FileNamePattern>
			</rollingPolicy>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>%d{MM/dd HH:mm:ss} [%t] [%-5p] (%F:%L\) [%M] %m%n</pattern>
			</encoder>
		</appender>
	
		<root level="INFO">
			<appender-ref ref="FileAppender"/>
		</root>
    </springProfile>
    
    <!-- local 환경 -->
    <springProfile name="default">
		<root level="DEBUG">
			<appender-ref ref="ConsoleAppender"/>
		</root>
    </springProfile>
</configuration>